= javascript_tag "window._token = {name: '#{request_forgery_protection_token.to_s}', authenticity_token: '#{form_authenticity_token}'};"

= render partial: "partials/thread_location"

/ div.col-md-4.col-md-offset-4.lato.text-right
/   p.dark-blue
/     = will_paginate @posts
/ #{Time.zone.at(post.created_at).strftime("%B %-d, %Y %l:%M %p")}

div.col-md-4.col-md-offset-4.lato.bottom-border
  h2.dark-blue
    = @posts[0].post_title


- @posts.each_index do |x|
  div.col-md-4.col-md-offset-4.lato.bottom-border.min-height-post.padding.pad-10 id="post-#{@posts[x].id}" style="border-top: solid 1px gray;"
      == simple_format(@posts[x].message, {}, wrapper_tag: "span")
  div.col-md-4.col-md-offset-4.lato.text-right
    h5.light-silver.margin.margin-5
      = @posts[x].created_at.strftime("%B %-d, %Y %l:%M %p")
      br
    h5.dark-blue.margin.margin-5 style="margin-bottom: 30px;"
      = @posts[x].username

- if session[:user]
  div.col-md-4.col-md-offset-4.lato style="margin-top: 30px;"
    = form_for :post, url: "/locations/#{params[:location_id]}/boards/#{params[:board_id]}/threads/#{params[:id]}/posts" do |f|
      div.form-group
        = f.hidden_field :mb_thread_id, value: params[:id]
        = f.text_area :message, class: "form-control", rows: 10
      div.text-center
        = f.submit "Reply", class: "btn btn-info btn-lg", style: "margin-top: 10px;"

div.col-md-4.col-md-offset-4.footer-spacer



/ div class="board-heading"
/   h1 style="margin-bottom: 5px;" #{@posts[0].post_title}
/   a href="/boards/#{@board.id}" style="font-family: 'Lato';color: #4E9689; margin-left: 15px; text-decoration: none" ↳ #{@board.title}
/   br
/   a href="/" class="blue_lato" style="font-family: 'Lato';color: #4E9689; margin-left: 34px; text-decoration: none" ↳ Home
/
/ div style="font-family: 'Lato';color: #4E9689; margin-left: 35px; margin-top: 15px;"
/   p.darkblue style="margin:0;"
/     strong
/       | Current participants:&nbsp;
/     = join_usernames(@posts)
/ = will_paginate @posts
/ div class="posts_table"
/   table
/     - @posts.each_index do |x|
/       tr
/         td
/           span style="color: #0f2c6a"
/             h2 style="margin: 0;" #{@posts[x].username}
/           span style="color: #74a9d8"
/             | Total posts: #{@posts[x].total_posts}
/             / #{Time.zone.at(post.created_at).strftime("%B %-d, %Y %l:%M %p")}
/             br
/             | #{@posts[x].created_at.strftime("%B %-d, %Y %l:%M %p")}
/         td id="td-#{@posts[x].id}"
/           div id="post-#{@posts[x].id}"
/             == simple_format(@posts[x].message, {}, wrapper_tag: "span")
/           - if session[:user]
/             div style="float:right; margin-top: 20px; right: -5px;"
/               - if session[:user]['username'] == @posts[x].username || session[:user]["admin"] == 1
/                   a id="#{@posts[x].id}" class="edit-post-links" href="javascript:void(0);" style="font-size: 0.8em; color: #e03434"
/                     | Edit
/               - if session[:user]["admin"] == 1
/                 - if x == 0
/                     a href="/boards/#{@board.id}/threads/#{@posts[x].mb_thread_id}/delete" style=" font-size: 0.8em; color: #e03434"
/                       |  | Delete
/                 - else
/                     a href="/boards/#{params[:board_id]}/threads/#{params[:id]}/posts/#{@posts[x].id}/delete" style="font-size: 0.8em; color: #e03434"
/                       |  | Delete
/ br
/ - if session[:user]
/   div style="text-align: right; margin-right: 35px; margin-top: 0;"
/     a href='/boards/#{params[:board_id]}/threads/#{@posts[0].mb_thread_id}/posts/new' class="no_decoration"
/       div class='btn'
/         | Reply
