$dark-blue: #014465;
$med-blue: #0081b4;
$silver: #f6f6f6;
$dark-silver: #616161;
$light-silver: #b3b3b3;

.zero-margin {
  margin: 0;
  
  &.margin-top {
    margin-top: 0;
  }
  &.margin-bottom {
    margin-bottom: 0;
  }
  &.margin-right {
    margin-right: 0;
  }
  &.margin-left {
    margin-left: 0;
  }
}

.lato {
  font-family: "Lato";
}

.light-silver {
  color: $light-silver;
}

.dark-silver {
  color: $dark-silver;
}

.dark-blue {
  color: $dark-blue;
}

h1 {
  &.larger {
    font-size: 4em;
  }
}

a {
  &.med-blue {
    color: $med-blue;
  }
}

.bottom-border {
  border-bottom: solid 1px;
  border-bottom-color: #d9d9d9;
  &.dark-blue {
    border-bottom-color: $dark-blue;
  }
}

.background-color {
  &.silver {
    background-color: $silver;
  }
}

.post-button {
  margin-top: 50px;
}

.min-height-post {
  min-height: 50px;
}

.padding {
  &.pad-5 {
    padding: 5px;
  }
  &.pad-10 {
    padding: 10px;
  }
  &.pad-15 {
    padding: 15px;
  }
  &.pad-20 {
    padding: 20px;
  }
}

.margin {
  &.margin-5 {
    margin: 5px;
  }
  &.margin-10 {
    margin: 10px;
  }
  &.margin-15 {
    margin: 15px;
  }
  &.margin-20 {
    margin: 20px;
  }
}
